<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Lumi.Foundation.PipelineValueProvider.Pipelines.Initialize.RegisterPipelineValueProvider, Lumi.Foundation.PipelineValueProvider"/>
      </initialize>
      <mvc.valueprovider.contextitem>
        <processor type="Lumi.Foundation.PipelineValueProvider.Pipelines.ValueProvider.ResolveContextItem, Lumi.Foundation.PipelineValueProvider" />
      </mvc.valueprovider.contextitem>
      <mvc.valueprovider.datasource>
        <processor type="Lumi.Foundation.PipelineValueProvider.Pipelines.ValueProvider.ResolveDatasourceItem, Lumi.Foundation.PipelineValueProvider" />
      </mvc.valueprovider.datasource>
      <mvc.valueprovider.renderingparameters>
        <processor type="Lumi.Foundation.PipelineValueProvider.Pipelines.ValueProvider.ResolveRenderingParameters, Lumi.Foundation.PipelineValueProvider" />
      </mvc.valueprovider.renderingparameters>
    </pipelines>
  </sitecore>
</configuration>