<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>SUGNL - Code First, Sitecore Second: @Sitecore.Context.Item.DisplayName</title>
</head>
<body>
	@Html.Sitecore().Placeholder("body")
</body>
</html>
